table {
    border-collapse: collapse;
    background-color: aqua;
    color: white;
}
td {
   border: 1px solid black;
    text-align: center;
    height: 70px;
    width: 100px; 
}
.none{
    border: none;
    
}
h1{
    font-size: 25px;
}
p{
    text-align: start;
    margin-top: -1px;
    margin-left: 10px;
}
h3{
    font-size: 10px;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}
